@font-face {
    font-family: 'Bukhari Script';
    src: url('/Bukhari_Script.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

header, section, h1, h2, h3, div {
    margin: 20px;
}

section {
    border: 2px solid black;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Roboto';
}

h3 {
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: normal;
}

p {
    font-size: 28px;
}

.color {
    display: inline-block;
    text-align: center;
    padding: 20px;
}

#d-purple {
    background-color: rgb(179,122,209);
}

#l-yellow {
    background-color: #fff1b8;
} 

#b-pink {
    background-color: rgb(255, 81, 246);
}

#l-blue {
    background-color: rgba(148,211,246,255);
}

#ztz {
    font-family: "Zen Tokyo Zoo";
    font-size: 25px;
}

#bs {
    font-family: "Bukhari Script";
    font-size: 90px;
}


#color-bundle {
    margin: 20px;
    text-align: center;
}

#buttons a {
    font-family: 'Zen Tokyo Zoo', sans-serif;
    font-size: 25px;
    color: rgb(255, 252, 79);
    text-decoration: none;
    background-color: #7c00ad;
    box-shadow: 0px 4px;
    border-radius: 20px;
    padding: 7px;
}
